.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 5px solid #ad727d;
    border-radius: 14px;
}
button{
        font-size: 40px;
        background: blanchedalmond;
        width: 101px;
        height: 57px;
        border-radius: 20px;
}
.calculator{
    display: inline-block;
    background-color: pink;
    padding: 10px;
    border-radius: 20px;
}